<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TailwindCSS Test</title>
</head>

<body class="absolute w-full h-screen m-0 p-0">
  <div
    class="flex flex-col items-stretch justify-center m-8 md:m-16 lg:m-24 p-8 md:p-16 lg:p-24 border border-teal-300 rounded-md shadow-md">
    <h1 class="mb-4 text-xl font-hairline text-gray-600 tracking-widest">TailwindCSS 1.4.6</h1>

    <div class="w-full border-border-teal-400 rounded-md shadow-md bg-teal-300 bg-opacity-25 p-8 mb-12">
      <h2 class="mb-2 font-semibold uppercase">TailwindCSS Animations 2.0.0</h2>
      <p class="mb-12"><a class="text-teal-500 hover:text-teal-600 duration-200 transition-all text-sm"
          href="https://github.com/benface/tailwindcss-animations"
          target="_blank">https://github.com/benface/tailwindcss-animations</a></p>

      <div class="w-full flex justify-around items-start">
        <div class="w-12 h-12 bg-green-400 rounded shadow-md border border-green-500 animation-spin"></div>
        <div class="w-12 h-12 bg-green-600 rounded shadow-md border border-green-500 animation-jump"></div>
      </div>
    </div>

    <div class="w-full border-border-teal-400 rounded-md shadow-md bg-teal-300 bg-opacity-25 p-8 mb-12">
      <h2 class="mb-2 font-semibold uppercase">TailwindCSS Gradients 3.0.0</h2>
      <p class="mb-12"><a class="text-teal-500 hover:text-teal-600 duration-200 transition-all text-sm"
          href="https://github.com/benface/tailwindcss-gradients"
          target="_blank">https://github.com/benface/tailwindcss-gradients</a></p>

      <div class="w-full flex justify-around items-start">
        <div class="w-12 h-12 rounded shadow-md border border-green-500 bg-gradient-br-black-white-with-stops"></div>
        <div class="w-12 h-12 rounded shadow-md border border-green-500 bg-gradient-tr-red-green-blue"></div>
      </div>
    </div>

  </div>
</body>

</html>
